In [2]:
a={1,2,3,4,5}
b={5,6,7}

#print( 2 in a)

type(2 in a)

a={1,2,3,4,5}
b={2,5}

b.issubset(a)



def is_subset(a,b):
  for e in a:

    if e in b:

      pass 

    else:
      return False 

  return True 

a={1,2,3,4,5}
b={5,6,7}

sub = is_subset(a,b) 
#or sub = is_subset({1,2,3,4,5},{5,6,7})

print(sub)

False

In [3]:
import numpy as np

uni = set(np.arange(10))

A= set(np.arange(0,9,2))

B= set(np.arange(0,9,3))

print("\nuniversal set:", uni)
print("\nset A:", A)
print("\nset B:", B)

print("\nA U B :",A.union(B))

print("\nA U B :",A.intersection(B))
print("\nA U B :",A.difference(B))

universal set: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

set A: {0, 2, 4, 6, 8}

set B: {0, 3, 6}

A U B : {0, 2, 3, 4, 6, 8}

A U B : {0, 6}

A U B : {8, 2, 4}

In [4]:
import numpy as np

uni = set(np.arange(10))

A= set(np.arange(0,9,2))

B= set(np.arange(0,9,3))

print("\nuniversal set:", uni)
print("\nset A:", A)
print("\nset B:", B)

print("\nA U B :",A.union(B))

print("\nA U B :",A.intersection(B))

print("\nA - B :",A.difference(B))

print("\nA' :",uni.difference(A))

universal set: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

set A: {0, 2, 4, 6, 8}

set B: {0, 3, 6}

A U B : {0, 2, 3, 4, 6, 8}

A U B : {0, 6}

A - B : {8, 2, 4}

A' : {1, 3, 5, 7, 9}